.App-header {
    background-color: #222;
    height: 150px;
    padding: 16px;
    color: white;
}

.App-title {
    font-size: 1.5em;
    text-align: center;
}

.Subheader-title {
    font-size: 1.2em;
    text-align: center;
}

.App-intro {
    font-size: large;   
}